.land-auto-textarea {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: fit-content;

  &__input {
    position: absolute;
    appearance: none;
    padding: 0;
    left: 12px;
    top: 5px;
    resize: none;
    border: none;
    background-color: transparent;
    font-size: var(--font-content-m);
    color: var(--color-text-primary);
    line-height: 22px;
    overflow: auto;
    max-height: 80px;
    font-family: inherit;

    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: var(--color-text-tertiary);
      line-height: 22px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__holder {
    font-size: var(--font-content-m);
    line-height: 22px;
    letter-spacing: normal;
    color: var(--color-text-quaternary);
    opacity: 0;
    width: fit-content;
    word-spacing: normal;
    text-rendering: auto;
    text-transform: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
