.land-highlight-textarea {
  position: relative;
  width: 100%;

  &__content,
  &__input {
    all: unset;
    width: 100%;
    height: 100%;
    display: block;
    word-break: break-all;
    font-size: var(--font-content-m);
    line-height: 22px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-text-primary);
    caret-color: var(--color-primary);

    &[disabled] {
      pointer-events: none;
    }

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }

  &__input {
    position: relative;
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }

  &__content {
    white-space: pre-wrap;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__highlight-item {
    color: var(--color-error);
    background-color: var(--color-error-light);
  }

  &__placeholder {
    color: var(--color-text-tertiary);
  }
}
