.land-skeleton{
  position: relative;
  overflow: hidden;
  
  .land-skeleton-content {
    width: 500%;
    height: 100%;
    transform: translateX(-60%);
    animation: skeleton-loading 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  
  @keyframes skeleton-loading {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}