.land-back-to-top{
  position: absolute;
  width: var(--land-back-to-top-width, 40px);
  height: var(--land-back-to-top-height, 40px);
  display: grid;
  place-content: center;
  border-radius: 100%;
  border: 1px solid var(--land-back-to-top-border, var(--color-border-primary));
  color: var(--land-back-to-top-color, var(--color-text-primary));
  transition: transform 0.2s linear, opacity 0.2s linear;
  background-color: var(--land-back-to-top-bg, var(--color-bg-primary));
  box-shadow: var(--land-back-to-top-box-shadow, var(--box-shadow-s));
  cursor: pointer;
  z-index: var(--land-back-to-top-z-index, var(--z-index-1000));
  flex-shrink: 0;
  .land-back-to-top-icon{
    transform: scaleY(-1);
  }
  &:active{
    transform: scale(0.9);
  }
  &.fixed{
    position: fixed;
  }
  &.hide{
    opacity: 0;
  }
}