.land-highlight-input {
  width: 100%;
  position: relative;

  &__highlight-string {
    position: absolute;
    top: 0;
    width: calc(100% - 24px);
    white-space: nowrap;
    pointer-events: none;
    overflow: scroll;
    line-height: normal;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
    margin-inline: 12px;
    font-size: var(--font-content-m);
    color: var(--color-text-primary);

    &--disabled {
      color: var(--color-text-tertiary);

      .land-highlight-input__highlight-item {
        opacity: var(--opacity-disabled);
      }
    }
  }

  &__highlight-item {
    color: var(--color-error);
    background-color: var(--color-error-light);
  }

  &__placeholder {
    position: absolute;
    padding-inline: 12px;
    color: var(--color-text-tertiary);
    pointer-events: none;
    line-height: 22px;
  }

  &__input {
    flex: 1;
    width: calc(100% - 24px);
    height: 22px;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: normal;
    background: transparent;
    -webkit-text-fill-color: transparent;
    margin-inline: 12px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:focus:hover,
    &:focus-within {
      border: none;
      outline: none;
      background: transparent;
    }
  }
}