.land-prefix-value-input {
  position: relative;
  width: 100%;

  &__mirror,
  &__textarea {
    all: unset;
    width: 100%;
    height: 100%;
    display: block;
    word-break: break-all;
    font-size: var(--font-content-m);
    line-height: 22px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-text-primary);

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }

  &__mirror {
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__textarea {
    position: relative;
    background: transparent;
    -webkit-text-fill-color: transparent;
    caret-color: var(--color-primary);
    z-index: 1;
    resize: none;

    &::placeholder {
      -webkit-text-fill-color: transparent;
    }
  }

  &__prefix {
    font-size: var(--font-content-m);
    color: var(--color-text-secondary);
    background-color: var(--color-bg-tertiary);
    border-radius: 2px;
    padding-inline: 4px;
    margin-right: 4px;
  }

  &__prefix-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__placeholder {
    color: var(--color-text-tertiary);
  }
}
