.land-affix-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  // ─── 禁用 ───
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  // ─── 图钉项 ───
  &__item {
    position: absolute;
    transition: opacity var(--transition-s) linear;
    box-sizing: border-box;

    &--hover-show {
      opacity: 0;
    }
  }
}
